body{
    background-color: #01893f;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: "futura";
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

img{
    margin-left: 4rem;
    margin-right: 4rem;
}

button{
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: orange;
    color:black;
    font-family: futura;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
}

#title{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#timer-module{
    display: inline-block;   
    margin: 3rem;
}

#timer{
    color: rgb(233, 233, 24);
    font-weight: 100;
    display: inline;
}

#timer-data{
    color: white;
    font-size: 2.8rem;
    font-weight: 100;
}

#score-module{
    display: inline-block;
    margin: 3rem;
}

#score{
    color: rgb(233, 233, 24);
    font-weight: 100;
    display: inline;
}

#score-data{
    color: white;
    font-size: 2.8rem;
    font-weight: 100;
}

#hole{
    width: 70%;
    display: block;
    padding: .4rem;
    margin-left: auto;
    margin-right: auto;
}



